<a routerLink="/challenge/{{challenge.id}}" routerLinkActive="active">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{challenge.name}}</mat-card-title>
      <mat-card-subtitle>{{challenge.description}}</mat-card-subtitle>


    </mat-card-header>
    <mat-card-subtitle>
      <mat-progress-bar mode="determinate" value="{{challenge.currentValue}}"></mat-progress-bar>
    </mat-card-subtitle>
      <mat-card-subtitle>Pending until {{challenge.endDate | date: 'MM/dd/yyyy'}}</mat-card-subtitle>

  </mat-card>
</a>
