
  <form class="ChallengeCreateClass">
    <mat-form-field class="ChallengeCreateName">
      <input matInput (change)="challengeCreateOnChange()" placeholder="Name">
    </mat-form-field>

    <mat-form-field class="ChallengeDescription">
      <textarea matInput (change)="challengeCreateOnChange()" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="challengeEndDate" placeholder="Choose an end date">
      <mat-datepicker-toggle matSuffix [for]="challengeEndDate"></mat-datepicker-toggle>
      <mat-datepicker #challengeEndDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ChallengeGoalValue">
      <textarea matInput (change)="challengeCreateOnChange()" placeholder="Goal value"></textarea>
    </mat-form-field>

  </form>

