mat-toolbar {
  position: fixed;
  /* position: sticky; */
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;

  background: #A06AFF;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}
