<a routerLink="/challenge/{{newsfeedChallenge.id}}" routerLinkActive="active">
  <mat-card>
    <mat-card-header>
      <mat-card-title>"{{newsfeedChallenge.name}}" von {{newsfeedChallenge.creator.name}}</mat-card-title>
      <mat-card-subtitle>{{newsfeedChallenge.description}}</mat-card-subtitle>
      <img mat-card-avatar src="assets/avatar.png">
    </mat-card-header>

    <mat-card-content>{{newsfeedChallenge.currentValue}} von {{newsfeedChallenge.goal}} abgeschlossen!</mat-card-content>
    <mat-card-content>
      <div>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
          {{likesNumber}}
        </div>

    </mat-card-content>

  </mat-card>
</a>
