<a routerLink="/challenge/{{newsfeedChallenge.id}}" routerLinkActive="active">
  <mat-card>
    <mat-card-header>
      <mat-card-title>"{{newsfeedChallenge.name}}" von {{newsfeedChallenge.creator.name}}</mat-card-title>
      <mat-card-subtitle>{{newsfeedChallenge.description}}</mat-card-subtitle>
      <img mat-card-avatar src="assets/avatar.png">
    </mat-card-header>
    <mat-card-subtitle>{{newsfeedChallenge.currentValue}} von {{newsfeedChallenge.goal}} abgeschlossen!
    </mat-card-subtitle>
    <mat-progress-bar mode="determinate" [value]="newsfeedChallenge.currentValue / newsfeedChallenge.goal * 100"></mat-progress-bar>
    <mat-card-content>
      <div>
        <mat-icon>favorite</mat-icon>
        {{likesNumber}}
      </div>
    </mat-card-content>

  </mat-card>
</a>
